#labelCheckbox {
    position: fixed;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%);
}
#labelCheckbox span{
    display: inline-block;
    background: #070b12;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    border: 2px solid #e228d8;
    transition: background .3s ease-in-out;
    
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.521);
}

#labelCheckbox span::before {
    content: '';
    display: block;
    background: #ff00f2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 3px 5px;
    transition: .5s ease-in-out;
}

#labelCheckbox span.light-theme::before{
    background: #00b7ff;
}

#labelCheckbox span.light-theme {
    background: white;
    border-color: rgb(0, 183, 255);
}

#labelCheckbox #checkbox{
    width: 0;
    height: 0;
    visibility: hidden;
}
#labelCheckbox #checkbox:checked+span::before{
    transform: translateX(29px);
}
body{
    background-image: url(../imagens/fundo-site.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;

    font-family: 'VT323', monospace;
    color: #f3f3f3;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    padding: 30px;
    transition: background 1s ease-in-out;
}

body.light-theme {
    background-image: url(../imagens/fundo-site-light.jpg);
    background-position: left;
}

.cartao {
    background-color: #070b12d3;
    width: 370px;
    border: 2px solid #ff00f2;
    border-radius: 10px;
    overflow: hidden;
    transition: all .3s;
}

.cartao.light-theme{
    border-color: white;
    background-color: #070b129a;
}

.abas img {
    width: 30px;
}

.cartao .minhas-informacoes {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cartao .minhas-informacoes img {
    border-radius: 50%;
    border: 4px solid #02d08f;
}

.cartao .minhas-informacoes.light-theme img{
    border-color: #00b7ff;
}
.cartao .minhas-informacoes .nome {
    font-size: 26px;
}

.cartao .minhas-informacoes .cargo {
    font-size: 20px;
    color: #b8bbc5;
}

.cartao .conteudo {
    margin-top: 15px;
}

.cartao .abas{
    display: flex;
}

.cartao .abas .aba {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.cartao .abas img {
    width: 30px;
}

.cartao .abas .aba.selecionado{
    background-color: #262626;
}

.cartao .informacoes-abas {
    background-color: #262626;
}

.cartao .abas .aba:hover{
    background-color: #414141;
}

.informacoes-abas .informacao {
    min-height: 260px;
    padding: 15px;
    display: none;
}

.informacoes-abas .informacao.selecionado {
    display: block;
}

.informacoes-abas .sub-titulo{
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}

.informacoes-abas .descricao{
    font-size: 20px;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 15px;
}

.informacoes-abas .descricao span{
    color: #02d08f;
}

.cartao.light-theme span{
    color: #00b7ff;
}
.redes-sociais {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    max-height: 180px;
    overflow-y: auto;
}

.redes-sociais li a{
    display: block;
    width: 250px;
    color: #f3f3f3;
    text-align: center;
    padding: 10px;  
    font-size: 20px;  
    transition: .2s ease-in-out;
}

.redes-sociais .curriculo {
    background-color: #06c185;
}

.redes-sociais .linkedin {
    background-color: #1d87bd;
}

.redes-sociais .github {
    background-color: #545454;
}

.redes-sociais li a:hover {
    filter: brightness(.8);
}
*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-thumb {
    background-color: #e228d8;
    border-radius: 20px;
    border: 3px solid #070d12;
}
*::-webkit-scrollbar-track{
    background: #070d12;
}
body.light-theme ::-webkit-scrollbar-thumb {
    background-color: #00b7ff
}

@media screen and (max-width: 500px){
    #labelCheckbox {
        position: fixed;
        top: 50px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

